<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>StockManager</title>
    <link th:replace="~{fragments/common-links.html}">
</head>
<body>
<div class="wrapper">
    <aside th:replace="~{fragments/common-fragments :: #sidebar}"></aside>
    <div class="main">
        <nav th:replace="~{fragments/common-fragments :: nav}"></nav>
        <main class="content px-3 py-4">
            <div class="container-fluid">
                <div class="mb-3">
                    <br>
                    <div class="container d-flex justify-content-center align-items-center form">
                        <form action="#" th:action="@{/change-password}" th:object="${passwordChangeDTO}" method="POST">
                            <div class="row">
                                <div class="col-md-auto text-center" style="width: 500px">
                                    <div class="input-group mb-3">
                                        <input type="password" th:field="*{currentPassword}"
                                               class="form-control form-control-lg dark fs-6"
                                               th:classappend="${#fields.hasErrors('currentPassword')} ? 'error' : ''"
                                               th:placeholder="${#fields.hasErrors('currentPassword')}
                                               ? ${#fields.errors('currentPassword')[0]}
                                               : 'Current Password'">
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="password" th:field="*{newPassword}"
                                               class="form-control form-control-lg dark fs-6"
                                               th:classappend="${#fields.hasErrors('newPassword')} ? 'error' : ''"
                                               th:placeholder="${#fields.hasErrors('newPassword')}
                                               ? ${#fields.errors('newPassword')[0]}
                                               : 'New Password'">
                                    </div>
                                    <br>
                                    <div class="input-group mb-3 justify-content-md-center">
                                        <input type="submit" value="Save" class="custom-link">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script th:replace="~{fragments/common-scripts.html}"></script>
<script>
    document.addEventListener("keyup", e => {
        if (e.key === 'Escape') {
            window.location.href = "/";
        }
    });
</script>

</body>
</html>