<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common-head :: header('StockManager', 'false')}">
    <title></title>
</head>
<body>
<div class="wrapper">
    <aside th:replace="~{fragments/common-fragments :: #sidebar}"></aside>
    <div class="main">
        <nav th:replace="~{fragments/common-fragments :: nav}"></nav>
        <main class="content px-3 py-4">
            <div class="container-fluid">
                <div class="mb-3">
                    <br>
                    <div class="container d-flex justify-content-center align-items-center form">
                        <form action="#" th:action="@{/messages/send}" th:object="${messageDTO}" method="POST">
                            <div class="row">
                                <div class="col-md-auto text-center">
                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="userSelect">To: </label>
                                        <select id="userSelect" class="form-select" th:field="*{receiverId}">
                                            <option value="-1" selected disabled>Chose...</option>
                                            <option th:each="u: ${users}"
                                                    th:if="${#authentication.name ne u.username}"
                                                    th:value="${u.id}"
                                                    th:text="${u.firstName + ' ' + u.lastName}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="text" th:field="*{title}" class="form-control"
                                               th:classappend="${#fields.hasErrors('title')} ? 'error' : ''"
                                               th:placeholder="${#fields.hasErrors('title')}
                                               ? ${#fields.errors('title')[0]} : 'Title'">

                                    </div>
                                    <div class="input-group">
                                        <textarea class="form-control" th:field="*{content}" rows="6" cols="80"
                                                  th:classappend="${#fields.hasErrors('content')} ? 'error' : ''"
                                                  th:placeholder="${#fields.hasErrors('content')} ?
                                                  ${#fields.errors('content')[0]} : ''"></textarea>
                                    </div>
                                    <br><br>
                                    <div class="input-group mb-3 justify-content-md-center">
                                        <input type="submit" value="Send" class="custom-link">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script th:replace="~{fragments/common-scripts :: scripts('false')}"></script>
<script>
    document.addEventListener("keyup", e => {
        if (e.key === 'Escape')
            window.location.href = "/messages";
    });
</script>

</body>
</html>