<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>StockManager</title>
    <!-- datatable -->
    <link href="https://cdn.datatables.net/2.0.7/css/dataTables.bootstrap5.css" rel="stylesheet">
    <link th:replace="~{fragments/common-links.html}">
</head>
<body>
<div class="wrapper">
    <aside th:replace="~{fragments/common-fragments :: #sidebar}"></aside>
    <div class="main">
        <nav th:replace="~{fragments/common-fragments :: nav}"></nav>
        <main class="content px-3 py-4">
            <div class="container-fluid">
                <div class="mb-3">
                    <div class="row justify-content-between">
                        <div class="col-md-auto"></div>
                        <div class="col-md-auto">
                            <a href="#" th:href="@{/admin/users/register}" class="custom-link">Add User</a>
                        </div>
                    </div><br>
                    <div class="row"></div>
                    <hr><br>
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <table id="user-table" class="table table-striped" style="width: 100%">
                                <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Created At</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user: ${users}">
                                    <td th:text="${user.username}"></td>
                                    <td th:text="${user.firstName + ' ' + user.lastName}"></td>
                                    <td th:text="${user.email}"></td>
                                    <!--/* -------------------------------------------- */-->
                                    <td th:if="${user.roles != null}" th:with="role=${user.roles}" >
                                        <span th:if="${role.size() > 1}">ADMIN</span>
                                        <span th:unless="${role.size() > 1}">USER</span>
                                    </td>
                                    <!--/* -------------------------------------------- */-->
                                    <td th:text="${#temporals.format(user.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td class="text-center">
                                        <a th:if="${user.roles.size() < 2}"
                                           th:href="@{/admin/users/delete(id=${user.id})}"
                                           onclick="if (!(confirm('Are you sure you want to delete this user?'))) return false">
                                            <i class="lni lni-trash-can dt-icon"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Username</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Created At</th>
                                    <th></th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<!-- jQuery & DataTable -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
<!--/* Inserting common script fragment */-->
<script th:replace="~{fragments/common-scripts.html}"></script>
<script>
    new DataTable('#user-table', {
        responsive: true,
    });
</script>

</body>
</html>