<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common-head :: header('StockManager', 'true')}">
    <title></title>
</head>
<body>
<div class="wrapper">
    <aside th:replace="~{fragments/common-fragments :: #sidebar}"></aside>
    <div class="main">
        <nav th:replace="~{fragments/common-fragments :: nav}"></nav>
        <main class="content px-3 py-4">
            <div class="container-fluid">
                <div class="mb-3">
                    <div class="row justify-content-between">
                        <div class="col-md-auto"></div>
                        <div class="col-md-auto">
                            <a href="#" th:href="@{/products/form}" class="custom-link">Add Product</a>
                        </div>
                    </div><br>
                    <div th:replace="~{fragments/cards :: cards}"></div><br>
                    <div class="row"></div>
                    <hr><br>
                    <div class="row">
                        <div class="col-12">
                            <table th:replace="~{fragments/common-table :: table(tableId='product-table', headers=${productHeaders}, items=${products}, fields=${productFields}, editUrl='/products/update', deleteUrl='/products/delete')}"></table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<!--/* Inserting common script fragment */-->
<script th:replace="~{fragments/common-scripts :: scripts('true')}"></script>
<script>
    new DataTable('#product-table', {
        responsive: true,
    });
</script>
</body>
</html>